p { 
    color: rgb(3, 40, 109);
}

h2 { 
    color: rgb(119, 128, 0);
}

.importante {
    background-color: yellow;
    color: red
}

#especial {
    font-family: monospace;
}

.importante2 {
    background-color: rgb(121, 160, 157);
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

article {
    padding: 20px;
    border: 2px solid black;
    margin: 10px;
    margin-top: 20px;
    border-bottom: 2px dotted red;

    width: 200px;
    background-color: white;
}


/* Estilos normales (para ordenador) */
article {
    width: 300px;
}

/* Estilos para móviles (pantallas de menos de 600px) */
@media (max-width: 600px) {
    article {
        width: 100%; /* La tarjeta ocupa todo el ancho en el móvil */
    }
    
    h1 {
        font-size: 1.5rem; /* Hacemos el título un poco más pequeño */
    }
}