<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Forma profesional de enlazar el CSS en el <head> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_2_3_4.css') }}">
   

</head>
<body>
    <h1>Prueba de archivos estáticos</h1>
     <!-- Forma profesional de mostrar una imagen -->
    <img src="{{ url_for('static', filename='img/mejorjugador.jpg') }}" alt="Mejor", width="400">
        <ul>
    {% for favorito in favoritos %}
            <li>{{ favorito.deporte }} - Equipo: {{ favorito.equipo }}</li>
    {% endfor %}
        </ul>
        <p>Lista generada por Manuel</p>
</body>
</html>